<div style="
    border: 2px solid blue;
    padding: 1.5rem;
">
    <div _ngcontent-ng-c1551047005=""><h1 _ngcontent-ng-c1551047005="" style="
    font-size: 2.5rem;
    color: #0909c9;
">Lamchhe Account login</h1></div><div _ngcontent-ng-c1551047005="" style="
    display: table-caption;
    /* height: 3rem; */
    padding-top: 1rem;
    padding-bottom: 0.5rem;
"><label _ngcontent-ng-c1551047005="">User Name</label><input _ngcontent-ng-c1551047005="" type="text">
</div>
<div style="
    display: table-caption;
">
    
    <label _ngcontent-ng-c1551047005="">Password</label><input _ngcontent-ng-c1551047005="" type="password"></div>

    <div style="padding-top: 1rem;padding-bottom: 0.5rem;">
        <button>Log in</button>
        <button>Cancel</button>
    </div>

    <div><a>Register New User</a></div>
        
        
    </div>